PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/anjali_furniture?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
WHATSAPP_NUMBER=918386020815
ADMIN_USERNAME=admin
ADMIN_PASSWORD=anjali2024
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
NODE_ENV=production
